.footer {
    background-color: black;
    color: white;
    padding: 30px;
    column-gap: 50px;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:visited,
.footer a:active {
    color: white;
}

#footer-logo {
    width: 6vw;
    margin-left: 20px;
    filter: invert(1);
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    align-self: center;

    
    h2 {
        font-family: "DM Serif Text", serif;
        font-weight: 500;
        font-size: 2.5rem;
    }
}

.internal {
    padding-left: 2%;
}

.quick-links,
.explore {
    padding-left: 5%;
}

@media screen and (max-device-width: 750px), screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }

    .internal,
    .quick-links,
    .explore {
        padding: 0 !important;
    }
}