@import './constants.css';
@import './highlight.css';
/* BOXES */
.box-holder {
    display: flex;
    flex-direction: row;
}

@media screen and (max-device-width: 750px), screen and (max-width: 750px) {
    .box-holder {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.box {
    background-color: var(--box-background);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    width: 100%;
    padding: 2em;
    margin: 1%;
}

.box:hover > .heading-highlight::before {
    transition: all .3s ease;
    height: 100%;
}

.box > h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

.box {
    font-family: 'Parkinsans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
}