/* COLORS */
:root {
    --text: hsl(0 0 0);
    --title-text: hsl(358 71% 51%);
    --title-text-gradient: hsl(358 71% 37%);

    --title-text-covered: 10vw;
    /* --title-padding: 4vh; */
    --title-padding: 2.35vw;

    --background: hsl(358 15% 90%);

    --accent: hsl(358 22% 25%);

    --hyperlink: hsl(0 19% 50%);

    --text-highlight: hsl(2 47% 74%);

    --box-highlight: hsl(358 22% 25% / 50%);

    --box-background: hsl(358 71% 51% / 5%);

    --inactive-nav: hsla(0, 0%, 20%, 0.5);
    --active-nav: hsla(0, 0%, 40%, 0.5);


    --navbar-color: var(--title-text);
    --navbar-text: #F5F5F5;
    --scroll-color: var(--navbar-text);
}