@import './constants.css';
:root{
    --filter-width: 20vw;
}

.student-dash-container {
    /* height: 40vh; */
    color: var(--text);
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 750px){
    .student-dash-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .filter-section{
        margin-bottom: 2%;
        width: auto !important;
    }
    .course-list-wrapper{
        padding: 2% 0 2% 0 !important;
        margin: 1% 0 1% 0 !important;
        width: 100% !important;
    }
    .course-list{
        /* display: flex; */
        width: auto !important;
    }
    .box{
        width: calc(100% - 2 * calc(2em));
        margin: 1% 0% 1% 0% !important;
    }
    .course-block {
        width: auto !important;
    }
}

header.student-header {
    font-size: 2.5vh;
    padding: 2rem;
    text-align: center;
    background-color: var(--box-background);
    margin-bottom: 1rem;
}

/* Filter Section */
.filter-section {
    /* align-self: center; */
    background-color: var(--box-background);
    border: 1px solid var(--box-highlight);
    border-radius: 8px;
    padding: 1rem;
    height: fit-content;
    width: var(--filter-width);
}
.sidebar{
    width: var(--filter-width);
    display: flex;
    flex-direction: column;
}

#dashboard-filter-heading::before{
    background: linear-gradient(180deg, transparent 50%, hsl(from var(--title-text-gradient) h s l / 50%) 50%);
}

.filter-section:hover > form h2.heading-highlight::before{
    height: 100%;
}

.filter-section h2 {
    margin-bottom: 1rem;
    color: var(--title-text);
}

.filter-section form label {
    display: block;
    margin: 0.5rem 0;
}

.filter-section form input, select {
    font-family: 'Parkinsans', sans-serif;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--box-highlight);
    border-radius: 4px;
    background-color: var(--background);
    color: var(--text);
}

.filter-section form button {
    font-family: 'Parkinsans', sans-serif;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--title-text);
    color: #fff;
    cursor: pointer;
}

.filter-section form button:hover {
    background-color: var(--title-text-gradient);
}

/* Course List */
.course-list-wrapper {
    display: block;
    width: calc(100% - var(--filter-width));
    height: 60vh;
    overflow: hidden;
    
    padding: 0 1% 0 1%;
    margin: 0 1% 0 1%;
    border: 1px solid var(--box-highlight);
    border-radius: 8px;
}

.course-list{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;

    scrollbar-color: var(--background) var(--background);
    transition: all .5s ease-in-out;
}

.course-list:hover {
    scrollbar-color: var(--box-highlight) var(--background);
}

.course-block {
    background: white;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /* margin: 0 1% 1% 1%; */
}

.course-block h3 {
    margin-bottom: 0.5rem;
    color: var(--title-text);
    text-wrap: balance;
    text-align: center; 
}

.course-block p {
    color: var(--text);
}
