@import './constants.css';
/* FORM STYLE */
form {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-heading {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 4vh;
}

form > input {
    font-family: 'Parkinsans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;

    width: 75%;
    padding: 2%;
    margin: 2%;

    border-radius: 5px;
}

.missing, .missing:visited {
    border-color: red;
}

div.missing {
    color: red;
    font-size: small;
}

.invalid {
    border-color: red;
}
.invalid::after{
    content: "Invalid " + attr(data-text);
    color: red;
}