@import './box.css';
@import './navbar.css';
@import './title.css';
@import './divider.css';
@import './popup.css';
@import './form.css';

html {
    scrollbar-color: var(--scroll-color) var(--navbar-color);
}

body {
    margin: 0;
    font-family: 'Parkinsans', sans-serif;
    font-weight: 300;
    font-style: normal;
}