@import "./constants.css";

.navbar {
    height: 5.875vw;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.navbar.hidden {
    display: none;
}

#navbar-menu-icon.show {
    top: 0 !important;
    margin-top: 0 !important;
}

#navbar-menu-icon img:hover {
  filter: brightness(0);
}

#navbar-menu-icon {
    display: none;

    background-color: var(--navbar-color);
    height: 30px;
    position: relative;
    top: 30px;
    margin-top: -30px;

  cursor: pointer;
  img {
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-device-width: 751px),
screen and (min-width: 751px) {
    .navbar.hidden {
        display: flex !important;
    }
}

@media screen and (max-device-width: 750px),
screen and (max-width: 750px) {
    #navbar-menu-icon {
        display: block;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #utility-navbar {
        flex-direction: column !important;
        margin-left: 0 !important;
        margin-top: auto;
    }

    #site-navbar {
        flex-direction: column !important;
    }

    .navbar.hidden {
        display: none !important;
    }
}

.nav-item {
    text-align: center;
    position: relative;
    padding: 1vw 0;
    margin: 1vw;
    font-weight: bold;

    display: flex;

    flex-direction: column;
    justify-content: flex-end;

    z-index: 5;
    text-decoration: none;
    color: var(--navbar-text);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    /* font-size: 1.47vw; */
    font-size: clamp(16px, 1.47vw, 1.47vw);
    cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.nav-item::before {
  content: "";
  align-self: center;
  height: 50%;
  width: 100%;
  display: block;
  z-index: -5;

  position: absolute;
  transition: all 0.3s ease;
  background: linear-gradient(
    180deg,
    transparent 50%,
    var(--inactive-nav) 50%
  );
}

.nav-item:hover {
  color: black;
}

.nav-item:hover::before {
  height: 100%;
}

#site-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#utility-navbar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: auto;
    align-items: center;
}


.active.nav-item{
  color: black;
}
.active.nav-item::before {
  background: linear-gradient(180deg, transparent 50%, var(--active-nav) 50%);
}

#logo {
    display: flex;
    width: clamp(30px, 3.525vw, 6vh);
    text-align: center;

  flex-direction: column;
  align-self: center;
  filter: invert() opacity(0.65) drop-shadow(0 0 0 var(--navbar-text));

  padding-left: 1vh;
  padding-right: 1vh;
  transition: all 0.3s ease-in;
}

#logo:hover {
  z-index: 5;
  filter: none;
}

#user_display {
    text-align: center;
    position: relative;
    padding: 1vw 0;
    margin: 1vw;
    font-weight: bold;

    display: flex;

    flex-direction: column;
    justify-content: flex-end;

  z-index: 5;
  text-decoration: none;
  color: var(--navbar-text);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  /* font-size: 2.5vh; */
  font-size: clamp(16px, 1.47vw, 1.47vw);
}