@import './constants.css';
/* POPUP */
.popup {
    position: absolute;
    top: 5vh;
    left: 25vw;
    z-index: -1;
    text-align: center;

    /* margin: auto; */
    width: 50vw;
    padding: 1%;
    border-radius: 5px;
}

.popup.active {
    z-index: 10;
    background-color: white;
}

.popup-inner {
    display: flex;
    flex-direction: column;
}

.popup > img#close {
    float: right;
    width: 5%;
    height: 5%;
    cursor: pointer;
}