/* staffdash.css */
@import "./constants.css";

:root {
  --sidebar-width: 15vw;
  --calendar-height: 70vh;
}

header.staff-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

button.openbtn {
  background-color: var(--title-text-gradient);
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  color: var(--text);
  transition: all 0.3s ease; /* Smooth adjustment */
}

.block-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .event-body {
    align-self: flex-start !important;
    width: 100%;
    margin: 0 2% 0 2%;
  }
}

.apt-block {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: clamp(5px, 15%, 40px);
  padding-right: clamp(5px, 15%, 40px);
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 2px solid black;
  align-self: center;
  border-radius: 8px;
}

.left-h {
  text-align: left;
  margin-left: 1px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  color: #db292f;
  font-size: 35px;
  font-weight: bold;
}

.sidebar {
  width: var(--sidebar-width);
  margin: 10px;
  background-color: var(--box-background);
  border: 1px solid var(--box-highlight);
  border-radius: 8px;
  padding: 1rem;
  height: calc(100vh - 2rem);
  /*flex-direction: column;*/
  /*position: relative;*/
  top: 0;
  transition: transform 0.3s ease;
}

.sidebar a {
  text-decoration: none;
  color: var(--title-text);
  margin: 0.5rem 0;
  font-family: "Parkinsans", sans-serif;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 4px;
  display: block;
  transition: background 0.3s ease;
}

.sidebar a:hover {
  background-color: var(--title-text-gradient);
  color: #fff;
}

.sidebar .closebtn {
  margin-left: auto;
}

.closebtn > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  filter: opacity(0.4) drop-shadow(0 0 0 var(--title-text));
}

.closebtn:hover > img {
  filter: invert();
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  filter: opacity(0.8) drop-shadow(0 0 0);
}

.openbtn:hover {
  background-color: #111;
}

.openbtn:hover > img {
  filter: invert();
}

/* calendar + appt Section */
.main-wrapper {
  margin: 10px;
  width: calc(100% - var(--sidebar-width));
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Automatically adjust width */
}

.calendar-container {
  margin-top: 20px;
  background-color: var(--background);
  border: 1px solid var(--box-highlight);
  border-radius: 8px;
  height: var(--calendar-height);
  padding: 1rem;
  overflow-y: scroll;
}

/* Upcoming Appointments Section */
.upcoming-appointments {
  background-color: var(--box-background);
  border: 1px solid var(--box-highlight);
  border-radius: 8px;
  padding: 1rem;
}

.upcoming-appointments h2 {
  font-family: "Parkinsans", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--title-text);
}

.event_name {
  color: #db292f;
}

.event_time_infos {
  flex-direction: column !important;
  justify-content: flex-start !important;
  padding: 10px;
}

.event_date,
.event_time {
  font-size: 13px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}

.event_detail {
  font-size: 15px;
}

/* Responsive Design */
@media screen and (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column !important;
    width: auto;
    padding: 0rem !important;
  }
  .main-wrapper {
    width: auto;
  }

  .event-body {
    margin: 2% 0 2% 0 !important;
  }
  .upcoming-appointments h2 {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    width: auto;
    height: auto;
    position: relative;
    /* transform: translateX(-100%); */
  }

  .calendar-wrapper {
    width: 100%;
  }

  .toggle-sidebar {
    display: block;
  }
}

.toggle-sidebar {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--title-text);
}
