:root {
    --calendar-font-size: clamp(25px, 2.35vw, 2.35vw); /*Basically a 4vh for a 13in screen*/
    --default-padding: calc(0.5 * var(--calendar-font-size));

    --box:hsl(358 22% 25% / 50%);
    --curent-date: hsl(358 22% 25% / 50%);
    --selected-date: color-mix(in srgb, var(--curent-date) 75%, black 20%) !important;
    --sidebar-width: clamp(200px, 18vw, 18vw);
    --height-topbar: calc(1.75 * var(--calendar-font-size));
    --calendar-spacing: calc(0.5 * var(--calendar-font-size));
    --add-button: hsl(0 0% 85%);
    --calendar-color: hsl(0 0% 92%);
    --calendar-accent: hsl(0 0% 63%);

    --main-background: white;
    --time-width: 50px;
    --time-right-padding: 1vw;
    --time-scroll-width: 1px;
    --time-padding: var(--calendar-font-size);
    --time-height: calc(2.25 * var(--calendar-font-size));
    --time-padding-top: calc(0.5 * var(--calendar-font-size));
    --week-font-size: var(--calendar-font-size);

    --text-highlight: hsl(2 47% 74%);
}

@media screen and (max-width: 750px) {
    #topbar > a:not(#sidebar-menu):not(#view-selector) {
        margin-left: 0 !important;
    }

}

.calendar-body {
    background-color: var(--main-background);
    font-family: 'Parkinsans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: var(--calendar-font-size) !important;
}

* {
    margin: 0;
    padding: 0;
}

.add-event{
    margin: calc(var(--calendar-spacing)/2);
    padding: calc(var(--calendar-spacing)/2);

    /* height: fit-content; */
}

.add-event.hidden {
    margin: 0;
    padding: 0 !important;
}

#add_event_btn {
    position: absolute;
    font-family: "DM Serif Text", serif;

    border: solid var(--add-button) 1px;
    background: var(--add-button);
    border-radius: 15px;
    padding-left: calc(var(--calendar-spacing)*2);
    padding-right: calc(var(--calendar-spacing)*2);
    font-size: 0.6em;
    cursor: pointer;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: calc(var(--sidebar-width) - 5.1* var(--calendar-spacing));

    span {
        width: 20%;
        padding: 0 5% 0 5%;
        display: flex;

        img {
            width: 100%;
        }
    }
}

#add_event_btn.small {
    .add-event-text {
        display: none;
    }

    max-width: 20px;
    padding: 10px;

    span {
        width: 100%;
    }
}

.calendar-holder {
    display: flex;
    flex-direction: row;
}

/* Topbar code */
#topbar {
    background-color: var(--main-background); 
    font-size: 0.75em;
    height: var(--height-topbar);
}

#calendar-page-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'DM Serif Text';
    width: calc(var(--sidebar-width) - var(--height-topbar));

    span {
        width: 15%;
        padding: 0 2% 0 2%;
        display: flex;

        img {
            width: 100%;
        }
    }
}

#sidebar-menu {
    height: calc(0.5 * var(--height-topbar));
    width: calc(0.5 * var(--height-topbar));

    margin: calc(0.125 * var(--height-topbar));
    padding: calc(0.125 * var(--height-topbar));

    border-radius: 30px;;

    img {
        height: 100%;
        width: 100%;
    }

    cursor: pointer;
    align-self: center;
    align-items: center;
    text-align: center;
}

#topbar > a:not(#sidebar-menu) {
    text-decoration: none;
    color: black;
    margin: calc(var(--calendar-spacing)/2);
    padding: calc(var(--calendar-spacing)/2);
    /* margin-left: calc(var(--sidebar-width) - var(--height-topbar)); */
    margin-left: 0;
    
    font-family: "DM Serif Text", serif;

    border: solid black 1px;
    border-radius: 30px;
    padding-left: calc(var(--calendar-spacing)*2);
    padding-right: calc(var(--calendar-spacing)*2);
    font-size: 0.75em;
    cursor: pointer;
    align-self: center;
}

#topbar > a:hover {
    background-color: #f2f2f2;
    transition: all .3s ease;
}

#week_btns {
    font-size: 1.25em;
    display: flex;
    align-items: center;
}

#current-week {
    align-self: center;
    margin-left: 2%;
    font-size: 1em;
}

#topbar:hover >  #current-week::before{
    transition: all .3s ease;
    height: 100%;
}

#botbar {
    height: calc(100vh - var(--height-topbar));
}

/* Sidebar code */
.calendar-sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    font-size: 0.625em;
    background-color: var(--main-background);
}

.calendar-sidebar.hidden {
    display: none;
    transition: all 0.5s ease-in-out;
}

.filters-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    .calendar-heading-highlight {
        align-self: center;
    }

    span {
        width: 15%;
        padding: 0 2% 0 0;
        display: flex;

        img {
            width: 100%;
        }
    }
}
    

.calendar-heading-highlight {
    font-family: "DM Serif Text", serif;
    text-align: center;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    z-index: 5;
    font-size: 0.75em;
    font-weight: 500;
    align-self: flex-start;
}

.calendar-heading-highlight::before {
    content: "";
    align-self: center;
    height: 50%;
    width: 100%;
    display: block;
    z-index: -5;

    position: absolute;
    transition: all .3s ease;
    background: linear-gradient(180deg, transparent 50%, var(--box) 50%);
}

.calendar-heading-highlight:hover::before{
    transition: all .3s ease;
    height: 100%;
}

.calendar-sidebar > div:not(.wrapper) {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--default-padding);
}

/* ALL CALENDAR STUFF BELLOW */
.wrapper {
    width: fit-content;
    background-color: var(--main-background);

    padding: var(--default-padding);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* .wrapper:hover > header p.heading-highlight::before{ */
header.calendar-header:hover > p.heading-highlight::before {
    transition: all .3s ease;
    height: 100%;
}

.wrapper header.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.calendar-header p {
    margin-left: 2%;
}

.icons span {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: var(--main-background);
    font-size: 1em;
}

.icons span:hover {
    background-color: #f2f2f2;
    transition: all .3s ease;
}

header .current-month {
    font-size: 0.75em;
    font-weight: 500;
}

#weekly-calendar {
    margin-left: calc(-1* calc(100% - var(--sidebar-width)));
    background-color: var(--calendar-color);
    width: calc(100% - var(--sidebar-width));
    padding: var(--default-padding) 0vh var(--default-padding) 0vh;;
    
    font-size: 0.75em;
    border-radius: 30px;
}

#weekly-calendar.full-size {
    width: 100%;
}

#weekly-calendar > ul {
    padding: 0 var(--default-padding) 0 var(--default-padding);
}

#weekly-days {
    transform: translateY(-2.5vh);
}

#weekly-days li {
    font-size: 0.75em;
}

#weekly-days li.alone {
    width: 100%;
}

#weekly-days li::before {
    height: calc(1.25 * var(--calendar-font-size));
    width: calc(1.25 * var(--calendar-font-size));
}

#weekly-calendar-label .active{
    color: var(--curent-date);
}

#weekly-calendar-label .selected{
    color: var(--selected-date);
}

#weekly-calendar-label .alone {
    width: 100%;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.5em;
}

.calendar .weekday li{
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    cursor: pointer;
    z-index: 1;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li.selected {
    color: #fff;
}

.days li.selected::before {
    background: var(--selected-date);
}

.days li::before {
    position: relative;
    display: block;
    content: "";
    left: 50%;
    align-self: center;
    top: 50%;
    height: calc(0.75 * var(--calendar-font-size));
    width: calc(0.75 * var(--calendar-font-size));
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, 0%);
}

.days li.active::before{
    background: var(--curent-date);
}

.days li.active:hover::before{
    opacity: 75%;
    transition: all .3s ease;
}

.days li.selected:hover::before{
    opacity: 75%;
    transition: all .3s ease;
}

.days li:not(.active, .selected):hover::before{
    background: #f2f2f2;
    transition: all .3s ease;
}

/* Weekly view */
#weekly-calendar-label, #weekly-days {
    margin-left: calc(var(--time-width) + var(--time-right-padding) - var(--time-scroll-width));
}

.timetable-wrapper {
    display: block;
    overflow: hidden;
    height: 75vh;
    padding-left: var(--default-padding);
}

.timetable {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: auto; 
    scrollbar-width: var(--time-scroll-width);
    white-space: nowrap;
    scrollbar-color: var(--calendar-color) var(--calendar-color);
    transition: all .5s ease-in-out;
    padding-top: var(--time-padding-top);
}

.timetable::-webkit-scrollbar-thumb{
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.timetable:hover{
    scrollbar-color: var(--calendar-accent) var(--calendar-color);
}

.times {
    /* display: flex; */
    /* flex-direction: column !important; */
    width: calc(var(--time-width) - var(--time-right-padding));

    /* border-right: solid var(--calendar-accent) 1px; */
    padding-right: var(--time-right-padding);
}

.times div {
    width: 100%;
    /* padding-top: var(--time-padding);
    padding-bottom: var(--time-padding); */
    height: var(--time-height);
    font-size: 0.5em;
    text-align: right;
}

.times div span {
    position: relative;
    top: calc(-0.25 * var(--calendar-font-size));
}

.time-row {
    /* position: absolute; */
    margin-left: calc(-1 * calc(100% - var(--time-width) - var(--time-right-padding)));
    width: 100%;
    display: flex;
    flex-direction: row;
}

.time-column {
    /* width: calc(calc(100% - var(--time-width) - var(--time-right-padding)) / 7); */
    width: calc(100% / 7);
    /* height: calc(26 * calc(2 * var(--time-padding) + 0.5 * var(--week-font-size))); */
    height: calc( 24 * var(--time-height));
    border-left: solid var(--calendar-accent) 1px;
    position: relative;
}

#time-sep {
    /* width: var(--time-right-padding); */
    /* height: calc( 24 * var(--time-height)); */
    /* height: calc(26 * 3 * var(--time-padding)); */
    width: 100%;
}

.sep {
    height: calc(var(--time-height) - 1px);
    border-top: solid var(--calendar-accent) 1px;
    width: 100%;
}

.event {
    position: absolute;
    font-size: 0.5em;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

    background: white;
    border-radius: 10px;
    width: 95%;
    cursor: pointer;
}

.event span {
    display: block;
    padding: 10px;
}

#filters{
    font-size: 0.75em;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.filter input{
    margin: 5px;
}

.filter span {
    width: 100%;
}

/* POPUP */
.calendar-popup {
    width: calc(100% - var(--sidebar-width));
    display: flex;
    flex-direction: column;

    z-index: -10;

    img {
        width: 5%;
        cursor: pointer;
    }
}

.calendar-popup > form > .heading-highlight {
    font-size: var(--calendar-font-size) !important;
}

.calendar-popup > form > input {
    font-family: 'Outfit';
    padding: 1%;
    margin: 1%;
}

.calendar-popup.active{
    z-index: 10;
    background-color: white;
}

.calendar-popup:hover > form > .heading-highlight::before {
    transition: all .3s ease;
    height: 100%;   
}