:root {
    --box:hsl(358 22% 25% / 50%);
    --curent-date: hsl(358 22% 25% / 50%);
    --sidebar-width: 15%;
    --calendar-spacing: 2vh;
}
body {
    background-color: pink;
    font-family: 'Parkinsans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    font-size: 2.5vh;
}

.heading-highlight {
    text-align: center;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    z-index: 5;
    font-size: 0.75em;
    font-weight: 500;
    align-self: flex-start;
}

.heading-highlight::before {
    content: "";
    align-self: center;
    height: 50%;
    width: 100%;
    display: block;
    z-index: -5;

    position: absolute;
    transition: all .3s ease;
    background: linear-gradient(180deg, transparent 50%, var(--box) 50%);
}

.heading-highlight:hover::before{
    transition: all .3s ease;
    height: 100%;
}

.sidebar > div:not(.wrapper) {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vh;
}

.sep {
    position: relative;
    background-color: black !important;
    height: 1px;
    padding: 0 !important;
    margin: 2vh;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
}

.sep::before{
    position: absolute;
    display: block;
    height: 1px;
    z-index: -5;
    content: "";
    padding: 0 !important;
    background-color: white;
    margin: 0 !important;
    width: calc(var(--sidebar-width) + 4vh);
}

/* ALL CALENDAR STUFF BELLOW */
.wrapper {
    width: 100%;
    background-color: white;
    /* border-radius: 10px; */
    font-size: 2.5vh;
    padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* .wrapper:hover > header p.heading-highlight::before{ */
header:hover > p.heading-highlight::before {
    transition: all .3s ease;
    height: 100%;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    margin-left: 2%;
}

header .icons span {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    font-size: 1em;
}

header .icons span:hover {
    background-color: #f2f2f2;
    transition: all .3s ease;
}

header .current-month {
    font-size: 0.75em;
    font-weight: 500;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.5em;
}

.calendar .weekday li{
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    cursor: pointer;
    z-index: 1;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: relative;
    display: block;
    content: "";
    left: 50%;
    align-self: center;
    top: 50%;
    height: 3vh;
    width: 3vh;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, 0%);
}

.days li.active::before{
    background: var(--curent-date);
}

.days li.active:hover::before{
    opacity: 75%;
    transition: all .3s ease;
}

.days li:not(.active):hover::before{
    background: #f2f2f2;
    transition: all .3s ease;
}